README.md
LICENSE

.dockerignore
docker-compose.yml
docker-compose.*.yml
Dockerfile

.env
.git
.gitignore
*.log*

# compiled output
/tmp
/out-tsc
/dist

# dependencies
/node_modules
package-lock.json
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs
/.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/typings

# System Files
.DS_Store
Thumbs.db
